@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  border: none;
  border-radius: 20px;
}
:root {
  --cor-branca-mas-nem-tanto: antiquewhite;
}
::placeholder {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
  /* height: 90%; */
}

.label-imagem-create-post {
  background-color: transparent;
  width: 50%;
  height: 168px;
  display: flex;
  justify-content: center;
  align-content: center;
  /* border-radius: 50%; */
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  /* margin: 0 auto 20px; */
  /* color: black; */
}

#image {
  overflow: hidden;
  font-family: open-sans;
  font-size: 32px;
  line-height: 168px;
  
  /* border: #7E241E 1px solid; */
  background-color: transparent;
  width: 50%;
  height: 168px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  /* margin: 0 auto 20px; */
}

/* .perfil-image {
  object-fit: cover;
} */

.modal-create-post {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(11, 11, 11, 0.762);
}

.general-container-create-post {
  background-color: #B0C4C4;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 30px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: var(--modal-content-width);
  height: var(--modal-content-height);
  overflow-y: scroll;
  margin-bottom: 20vh;
}

.modal-body-create-post {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.close-create-post {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* #formulario {
  (border: 1px solid black;)
  margin-top: 20px;
  (appearance: none;)
  gap: 25px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
} */
#input-image {
  display: none;
}

.input-group-create-post {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: center;
}

.input-group-create-post input, textarea {
  width: 100%;
  height: calc(var(--font-size) + 10px);
  border-radius: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  color: #000;
  font-size: var(--font-size);
  padding-left: 30px;
}

.input-group-create-post input {
  text-align: center;
}

.input-group-create-post textarea {
  height: 100vh;
  width: 90%;
  border-radius: 10px;
  resize: none;
}

.input-group-create-post input[readonly] {
  cursor: default;
}

/* .preview {
  object-fit: cover;
} */
/* input {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 3px rgba(11, 11, 11, 0.47);
}
textarea {
  width: 90%;
  box-shadow: none;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 3px rgba(11, 11, 11, 0.47);
}
input,
textarea {
  font-size: 20px;
}
input[type="file"] {
  display: none;
} */
/* #input-image {
  font-size: 14px;
} */
/* #autor {
  color: black;
} */
#data-criacao {
  width: 25%;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-self: center;
}

.close-create-post:hover, .close-create-post:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.botoes-create-post {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  bottom: 0%;
  left: 30px;
  right: 30px;
}

.fechar-create-post, .criar-create-post {
  width: 40%;
  background-color: var(--cor-branca-mas-nem-tanto);
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-family: sugar-bread;
  font-size: var(--font-size-buttons);
  text-align: center;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  margin-bottom: 24px;
}

.fechar-create-post:hover {
  background-color: #7E241E;
  color: white;
}

.criar-create-post:hover {
  background-color: #13ACB1;
  color: white;
}
.input-group-create-post input, textarea, #data-criacao {
  background-color: var(--cor-branca-mas-nem-tanto);
}
#image {
  background-color: var(--cor-branca-mas-nem-tanto);
  margin: 0 auto;
}

@media (max-width: 950px) {
  .close-create-post {
    position: absolute;
    top: 5%;
    right: 5%;
    /* border-radius: 50%; */
    height: 1px;
  }
  #formulario {
    width: 90%;
    height: 80vh;
    justify-content: space-evenly;
    /* height: 90vh; */
    gap: 15px;
  }
  #data-criacao {
    width: 50%;
    text-align: center;
  }
  .botoes-create-post {
    justify-content: center;
  }
}