* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #B0C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 4%;
  gap: 40px;
  font-family: open-sans;
  font-size: 68px;
}

.perfil {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#foto-perfil {
  font-size: 80px;
}

#plus {
  color: blue;
  font-size: 48px;
  position: absolute;
  left: 20%;
  top: 12%;
}



#formulario {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4%;
}

#formulario .input-form div {
  height: fit-content;
}

#formulario .input-form div {
  height: fit-content;
}

#formulario .input-form input {
  height: fit-content;
  font-size: 16px;
  border: 0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
}


#input-senha {
  position: relative;
  font-family: open-sans;
  /* font-size: 12px; */
}

#input-senha #eye-senha {
  font-size: 12px;
  position: absolute;
  top: 50%;
}