/* Fontes */

@font-face {
  font-family: Comicartoon;
  src: url(../assets/Comicartoon-Regular.ttf);
}

@font-face {
  font-family: SugarBread;
  src: url(../assets/Sugar\ Bread.otf);
}

/* Estilos Globais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e5ec;
  align-content: center;
}

/* Hero Section */
.hero-dashboard {
  background-color: #6c757d;
  text-align: center;
  color: white;
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.hero-dashboard h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: "Comicartoon";
  text-transform: uppercase;
}

.hero-dashboard p {
  font-size: 1.2rem;
}

/* Seção de Links Administrativos */
.admin-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 50px;
  gap: 20px;
  align-content: center;
  align-items: center;
}

.admin-link {
  text-decoration: none;
  color: inherit;
  background-color: white;
  width: 17%;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.admin-link h2 {
  font-size: 1.5rem;
  color: #333;
  font-family: "SugarBread";
}

.admin-link p {
  font-size: 1rem;
  color: #555;
}

/* Efeito de Hover nos Links */
.admin-link:hover {
  transform: scale(1.05);
}

/* Botão de Logout */
.logout h2 {
  color: #d9534f; /* Cor de destaque para o logout */
  font-family: "SugarBread";
}

.logout p {
  color: #d9534f;
}

@media (max-width: 768px) {
  .admin-links {
    flex-direction: column;
  }
  .admin-link {
    width: 35%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .admin-links {
    flex-direction: column;
  }

  .admin-link {
    width: 50%;
  }
}
