:root {
  --fundo: #b0c4c4;
  --textos: #000000;
  --slogan: #fff;
  --destaque: #13acb1;
  --sobre-text: #000000;
  --botoes: #13acb1;
  --botoes-hover: #7e241e;
  --posts: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(/public/assets/img/imagemdefundoborrada.png);
  align-content: center;
  object-fit: cover;
  background-position: center;
}

.hero-dashboard {
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.hero-dashboard h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: comicartoon;
  text-transform: uppercase;
  text-shadow: 2px 2px #7e241e;
  padding-top: 20px;
}

.hero-dashboard p {
  font-size: 1.2rem;
  text-shadow: 1px 1px #000000;
}

.admin-links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
  padding-top: 110px;
  align-content: center;
  align-items: center;
}

.admin-link {
  text-decoration: none;
  color: inherit;
  background-color: #B0C4C4;
  width: 17vw;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.admin-link h2 {
  font-size: 1.5rem;
  color: #333;
  font-family: sugar-bread;
}

.admin-link p {
  font-size: 1rem;
  color: #555;
}

.admin-link:hover {
  transform: scale(1.05);
}

.logout h2 {
  color: #d9534f;
  font-family: sugar-bread;
}

.logout p {
  color: #d9534f;
  font-family: open-sans;
}

@media (max-width: 1024px) and (min-width: 780px) {
  .admin-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .admin-link {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .hero-dashboard h1 {
    padding-top: 1px;
    font-size: 2rem;
  }

  .admin-links {
    flex-direction: column;
    padding-top: 15px;
    gap: 20px;
  }

  .admin-link {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero-dashboard h1 {
    font-size: 1.8rem;
  }

  .admin-links {
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
  }

  .admin-link {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .hero-dashboard h1 {
    font-size: 1.5rem;
  }

  .admin-link {
    width: 100%;
  }
}
