@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b0c4c4;
  font-family: open-sans;
}
a {
  text-decoration: none;
  color: black;
}
.general-container {
  margin: 40px auto 40px auto;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* border: 1px solid black; */
}
.general-container * {
  background-color: white;
}
.janela-principal {
  padding: 0px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: fit-content;
  height: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.janela-principal:not(.close) {
  justify-content: space-around;
}
.close {
  margin-left: auto;
  font-size: 20px;
  /* margin-bottom: 0px; */
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sugar-bread;
}
.botoes {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.botoes div,
button {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: sugar-bread;
  border: none;
  border-radius: 10px;
  padding: 0 6px;
  font-weight: 500;
  font-size: 1.2em;
  /* height: 100%; */
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
}
.botoes div:hover {
  background-color: #13acb1;
}
.botoes button:hover {
  background-color: #7e241e;
}
.botoes div:hover,
button:hover {
  color: white;
}
@media (max-width: 950px) {
  .janela-principal {
    width: 80%;
  }
}
