@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-branca-mas-nem-tanto: antiquewhite;
}
.modal-delete-post {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(11, 11, 11, 0.762);
}

/* .general-container {
  margin: 40px auto 40px auto;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* border: 1px solid black;
} */

.modal-content-delete-post {
  /* background-color: #B0C4C4;
  padding: 0px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; 
  width: fit-content;
  justify-self: center;
  height: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  background-color: #b0c4c4;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 30px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  height: 30%;
  overflow-y: scroll;
  margin-bottom: 20vh;
}
.modal-content-delete-post:not(.close-delete-post) {
  justify-content: space-around;
}
.close-delete-post {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  /* margin-bottom: 0px; */
}
.modal-content-delete-post h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sugar-bread;
}
.botoes-delete-post {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  margin-bottom: 20px;
}

.botoes-delete-post
button {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: sugar-bread;
  border: none;
  border-radius: 10px;
  padding: 0 6px;
  margin: 0 20px;
  font-weight: 500;
  font-size: 1.5em;
  /* height: 100%; */
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  background-color: var(--cor-branca-mas-nem-tanto);
}
.fechar-delete-post:hover {
  background-color: #13acb1;
  color: white;
}
.excluir-delete-post:hover {
  background-color: #7e241e;
  color: white;
}

@media (max-width: 950px) {
  .modal-content-delete-post {
    width: 80%;
  }
}
