* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --modal-content-width: 50%;
  --modal-content-height: 80vh;
  --font-size: 20px;
  --font-size-titulo-editar-post: 26px;
  --font-size-buttons-editar-post: 24px;
  --font-size-buttons-hover-editar-post: 28px;
  --margin-top-buttons: 16%;
  --cor-branca-mas-nem-tanto: antiquewhite;
}

.modal-editar-post ::-webkit-scrollbar {
  /* / height: 90%; / */
  width: 6px;
}

.modal-editar-post ::-webkit-scrollbar-track {
  background-color: #B0C4C4;
}

.modal-editar-post ::-webkit-scrollbar-thumb {
  /* background: #3333331d;  */
  background: #13ACB1;
}

/* Estilos gerais do modal */
.modal-editar-post {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(	0, 0, 0, 0.5);
}

.modal-content-editar-post {
  background-color: #B0C4C4;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 0px;
  margin: auto;
  padding: 20px;
  border-radius: 10 0px 0px 10px;
  width: var(--modal-content-width);
  height: var(--modal-content-height);
  overflow-y: scroll;
  margin-bottom: 20vh;
}

.modal-body-editar-post {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Botão de fechar (X) */
.close-editar-post {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* Imagem do usuário */
.label-image-editar-post {
  /* border: #7E241E 1px solid; */
  background-color: var(--cor-branca-mas-nem-tanto);
  width: 50%;
  height: 168px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  margin: 0 auto;
  max-width: 100%;
  /* margin: 0 auto 20px; */
}

/* #input-image {
  display: none;
} */

.perfil-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos dos campos de dados */
.input-group-editar-post {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: center;
}

/* #first {
  margin-top: 12%;
} */

.input-group-editar-post input, textarea {
  width: 90%;
  height: calc(var(--font-size) + 10px);
  border-radius: 10px;
  border: none;
  background-color: var(--cor-branca-mas-nem-tanto);
  outline: none;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  color: #000;
  font-size: var(--font-size);
  padding-left: 30px;
}

.input-group-editar-post input {
  text-align: center;
}

.input-group-editar-post .input-titulo-editar-post {
  margin-top: 0;
  height: calc(var(--font-size-titulo-editar-post) + 20px);
  font-size: var(--font-size-titulo-editar-post);
}

.input-group-editar-post textarea {
  height: 100vh;
  width: 90%;
  border-radius: 10px;
  resize: none;
}

.input-group-editar-post input[readonly], textarea[readonly] {
  cursor: default;
}

#data-criacao {
  width: 25%;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-self: center;
}

.close-editar-post:hover, .close-editar-post:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Botão de fechar */
.button-editar-post {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  bottom: 0%;
  left: 30px;
  right: 30px;
}


.fechar-editar-post, .confirmar-editar-post {
  width: 32%;
  height: fit-content;
  background-color: var(--cor-branca-mas-nem-tanto);
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-family: sugar-bread;
  font-size: var(--font-size-buttons-editar-post);
  text-align: center;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  margin-bottom: 24px;
  transition: all 200ms ease-in-out;
}

.fechar-editar-post {
  background-color: #7E241E;
  color: white;
}

.confirmar-editar-post {
  background-color: #13ACB1;
  color: white;
}

.fechar-editar-post:hover, .confirmar-editar-post:hover {
  width: 40%;
  font-size: var(--font-size-buttons-hover-create-post);
  border: 2px solid #fff;
}

/* MOBILE */
@media (max-width: 768px) {
  :root {
    --modal-content-width: 90vw;
    --modal-content-height: 90vh;
    --font-size: 32px;
    --font-size-buttons: 24px;
    --margin-top-buttons: 40%;
  }
}