:root {
    --modal-content-width: 40vw;
    --modal-content-height: 90vh;
    --font-size: 40px;
    --width-height-user-image: 168px;
    --font-size-buttons: 28px;
    --margin-top-buttons: 16%;
  }
  
  /* Estilo base do modal */
  #modalExcluir {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modalExcluir .modal {
    padding-top: 80px;
  }

  /* Estilo do conteúdo do modal */
  #modalExcluir .modal-content {
    background-color: #B0C4C4;
    margin: 20vh auto;
    padding-top: 55px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: auto;
    text-align: center;
  }
  
  #modalExcluir .modal-content p {
    font-family: open-sans;
    font-size: 24px;
  }
  
  /* Botão de fechar */
  .close {
    color: #333;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  
  /* Estilo dos botões de confirmação e cancelamento */
  #modalExcluir .modal-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .btn-confirmar,
  .btn-cancelar {
    background-color: transparent;
    color: #000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: sugar-bread;
    font-size: 20px;
    box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
    margin-bottom: var(--margin-bottom-buttons);
    padding: 8px 16px;
  }
  
  .btn-confirmar {
    margin-right: 50px;
  }
  
  .btn-cancelar {
    margin-left: 10px;
  }
  
  
  .btn-confirmar:hover {
    background-color: #7e241e;
    color: #fff;
  }
  
  .btn-cancelar:hover {
    background-color: #13acb1;
    color: #fff;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    #modalExcluir .modal-content {
      width: 260px;
    }
    .btn-cancelar,
    .btn-confirmar {
      font-size: 12px;
      margin: 3px;
    }
  }

  /* MOBILE */
  @media (max-width: 480px) {
    :root {
      --modal-content-width: 95vw;
      --modal-content-height: 85vh;
      --font-size: 20px;
      --font-size-buttons: 18px;
      --margin-top-buttons: 15%;
    }
  }
  
  /* TABLET */
  @media (min-width: 481px) and (max-width: 768px) {
    :root {
      --modal-content-width: 90vw;
      --modal-content-height: 80vh;
      --font-size: 24px;
      --font-size-buttons: 20px;
      --margin-top-buttons: 20%;
    }
  }
  
  /* SMALL DESKTOP */
  @media (min-width: 769px) and (max-width: 1024px) {
    :root {
      --modal-content-width: 70vw;
      --modal-content-height: 75vh;
      --font-size: 28px;
      --font-size-buttons: 24px;
      --margin-top-buttons: 18%;
    }
  }
  
  /* LARGE DESKTOP */
  @media (min-width: 1025px) and (max-width: 1440px) {
    :root {
      --modal-content-width: 50vw;
      --modal-content-height: 70vh;
      --font-size: 32px;
      --font-size-buttons: 28px;
      --margin-top-buttons: 16%;
    }
  }