:root {
    --font-size: 20px;
    --font-size-buttons-user: 24px;
    --font-size-buttons-hover-user: 28px;
    --width-height-user-image: 168px;
    --font-size-buttons: 28px;
    --font-size-buttons-excluir-user: 24px;
    --font-size-buttons-hover-excluir-user: 28px;
    --margin-top-buttons: 16%;
  }
  
  /* Estilo base do modal */
  .modal-excluir {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(11, 11, 11, 0.762);
  }
  
  .modal-excluir .modal {
    padding-top: 80px;
  }

  /* Estilo do conteúdo do modal */
  .modal .modal-content-excluir {
    background-color: #b0c4c4;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    gap: 0px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height: 30%;
    margin-bottom: 20vh;
  }
  
  .modal .modal-content-excluir h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sugar-bread;
  }

  .modal .modal-content-excluir p {
    font-family: open-sans;
    font-size: var(--font-size);
    color: #7e241e;
  }
  
  /* Botão de fechar */
  .close {
    color: #333;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  
  /* Estilo dos botões de confirmação e cancelamento */
  .modal .modal-content-excluir .modal-footer {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .btn-confirmar,
  .btn-cancelar {
    width: 38%;
    display: flex;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sugar-bread;
    border: none;
    border-radius: 40px;
    padding: 20px;
    margin: 0 20px;
    font-weight: 500;
    font-size: var(--font-size-buttons-excluir-user);
    /* height: 100%; */
    box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
    transition: all 200ms ease-in-out;
  }
  
  .btn-confirmar {
    background-color: #7e241e;
    color: #fff;
  }
  
  .btn-cancelar {
    background-color: #13acb1;
    color: #fff;
  }
  
  
  .btn-confirmar:hover, .btn-cancelar:hover {
    font-size: var(--font-size-buttons-hover-excluir-user);
    width: 48%;
    border: 2px solid #fff;
  }  
  /* MOBILE
  @media (max-width: 768px) and (min-height: 481px){
    #modalExcluir .modal-content {
      width: 260px;
    }
    .btn-cancelar,
    .btn-confirmar {
      font-size: 22px;
      margin: 3px;
    }

    .btn-cancelar:hover, .btn-confirmar:hover {
      font-size: 26px;
    }
  } */

  /* MOBILE */
  @media (max-width: 480px) {
    :root {
      --modal-content-width: 95vw;
      --modal-content-height: 85vh;
      --font-size: 16px;
      --font-size-buttons-excluir-user: 10px;
      --font-size-buttons-hover-excluir-user: 14px;
      --font-size-buttons: 18px;
      --margin-top-buttons: 15%;
    }

    .modal .modal-content-excluir {
      width: 260px;
      margin-left: 5vw;
      margin-right: 5vw;
      justify-self: center;
    }

    .modal .modal-footer {
      flex-direction: column;
    }

    .btn-cancelar, .btn-confirmar {
      width: 72%;
    }

    .btn-confirmar {
      margin-top: 20px;
    }
    
    .btn-cancelar:hover, .btn-confirmar:hover {
      width: 80%;
    }
  }
  
  /* TABLET */
  @media (min-width: 481px) and (max-width: 768px) {
    :root {
      --modal-content-width: 95vw;
      --modal-content-height: 85vh;
      --font-size: 16px;
      --font-size-buttons-excluir-user: 24px;
      --font-size-buttons-hover-excluir-user: 28px;
      --font-size-buttons: 20px;
      --margin-top-buttons: 20%;
    }

    .btn-cancelar .btn-confirmar {
      width: 38%;
    }
    
    .btn-cancelar:hover, .btn-confirmar:hover {
      width: 50%;
    }
  }
  
  /* SMALL DESKTOP */
  @media (min-width: 769px) and (max-width: 1024px) {
    :root {
      --modal-content-width: 70vw;
      --modal-content-height: 75vh;
      --font-size: 20px;
      --font-size-buttons: 24px;
      --margin-top-buttons: 18%;
    }
  }
  
  /* LARGE DESKTOP */
  @media (min-width: 1025px) and (max-width: 1440px) {
    :root {
      --modal-content-width: 50vw;
      --modal-content-height: 70vh;
      --font-size: 20px;
      --font-size-buttons: 28px;
      --margin-top-buttons: 16%;
    }
  }