@font-face {
  font-family: comiccartoon;
  src: url(../assets/fonts/Comicartoon-Regular.ttf) format('truetype');
}

@font-face {
  font-family: comiccartoon-3d;
  src: url(../assets/fonts/Comicartoon-3DExtrude.ttf) format('truetype');
}

@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}

@font-face {
  font-family: sugar-bread;
  src: url(../assets/fonts/Sugar\ Bread.otf) format('opentype');
}