@font-face {
    font-family: "Comicartoon-regular";
    src: url(../assets/Comicartoon-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Comicartoon-extrude";
    src: url(../assets/Comicartoon-3DExtrude.ttf) format('truetype');
}

@font-face {
    font-family: "Sugarbread";
    src: url(../assets/Sugar\ Bread.otf) format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, main {
    height: 100%;
}

.footer {
    background: #4A5759;
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px 28px 10px;
}
.footer #div-contatos {
    margin: auto;
}
.footer ul {
    font-family: "Comicartoon-regular";
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    list-style: none;
}
.footer li{
    font-family: "Sugarbread";
    font-size: 20px;
    font-weight: 400;
    
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    gap: 4px;
    padding-top: 24px;
}
.footer #pilares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul {
    color: white;
}
.footer ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
.footer ul li a:hover {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
#pilares li:hover {
    color: black;
}
#contatos {
    margin:auto;
}
#contatos div {
    display: flex;
    justify-content: center;
    text-align: end;
    width: 24px;
    height: 24px;
}
#ig-div {
    background: url(../assets/Instagram-light.png) center;
}
#fb-div {
    background: url(../assets/Facebook-light.png) center;
}
#x-div {
    background: url(../assets/TwitterX-light.png) center;
}
#ig-div:hover{
    background: url(../assets/Instagram-dark.png) center;
}
#fb-div:hover{
    background: url(../assets/Facebook-dark.png) center;
}
#x-div:hover{
    background: url(../assets/TwitterX-dark.png) center;
}
a:hover {
    color: black;
}

.codejr-logo {
    width: 242px;
    height: 56px;
    background: url(../assets/code-logo.png) no-repeat top center/cover;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        font-weight: 700;
        padding: 28px 20px;
        align-items: center;
        justify-content: space-between;
        height: 284px;
    }
    .footer ul {
        font-family: "Comicartoon-regular";
        font-weight: 700;
        font-size: 40px;
    }
    .footer li {
        font-family: "Sugarbread";
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 28px;
    }
    .div-contatos a {
        align-items: center;
    }
    
    #contatos div {
        width: 28px;
        height: 28px;
    }
}