@font-face {
    font-family: "Comicartoon-regular";
    src: url(../assets/Comicartoon-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Comicartoon-extrude";
    src: url(../assets/Comicartoon-3DExtrude.ttf) format('truetype');
}

@font-face {
    font-family: "Sugarbread";
    src: url(../assets/Sugar\ Bread.otf) format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, main {
    height: 100%;
}

.footer {
    background: #4A5759;
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px 28px 10px;
}
.footer ul {
    font-family: "Comicartoon-regular";
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    list-style: none;
}
.footer li{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 24px;
    padding-top: 24px;
    font-family: "Sugarbread";
    font-size: 20px;
    font-weight: 400;
}
.footer #pilares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul {
    color: white;
}
.footer ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
.footer ul li a:hover {
    color: black;
}
.codejr-logo {
    width: 242px;
    height: 56px;
    background: url(../assets/code-logo.png) no-repeat top center/cover;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        font-weight: 700;
        padding: 28px 20px 0px 20px;
        align-items: flex-start;
        height: 284px;
    }
    .footer ul {
        font-family: "Inter";
        font-weight: 700;
        font-size: 36px;
    }
    .footer li {
        font-family: "Inter";
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .div-pilares {
        margin-left: auto;
    }
    .div-contatos {
        margin-left: auto;
    }
    .div-contatos a {
        align-items: center;
    }
    .codejr-logo {
        margin-left: 107px;
    }
}