@import url(fonts.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    margin-top: 20px;
    background: #4A5759;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px 28px 10px;
}
.footer #div-contatos {
    margin: auto;
}
.footer ul {
    font-family: comiccartoon;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    list-style: none;
}
.footer li{
    font-family: sugar-bread;
    font-size: 20px;
    font-weight: 400;
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4px;
    padding-top: 24px;
}
.footer #pilares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul {
    color: white;
}
.footer ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
}
.footer ul li:hover a{
    color: black;
    /* text-decoration: none; */
    display: flex;
    align-items: flex-end;
    /* background: url(../assets/Instagram-light.png) center; */
}
#pilares li:hover {
    color: black;
}
#contatos {
    margin:auto;
}
#contatos div {
    display: flex;
    justify-content: center;
    text-align: end;
    width: 24px;
    height: 24px;
}
#ig-div {
    width: 14px;
    height: 14px;
    background: url(/public/assets/img/Instagram-light.png) center;
}
#fb-div {
    width: 14px;
    height: 14px;
    background: url(/public/assets/img/Facebook-light.png) center;
}
#x-div {
    width: 14px;
    height: 14px;
    background: url(/public/assets/img/TwitterX-light.png) center;
}
.footer ul li:hover #ig-div{
    background: url(/public/assets/img/Instagram-dark.png) center;
}
.footer ul li:hover #fb-div{
    background: url(/public/assets/img/Facebook-dark.png) center;
}
.footer ul li:hover #x-div{
    background: url(/public/assets/img/TwitterX-dark.png) center;
}

.codejr-logo {
    /* border: solid 1px red; */
    width: 130px;
    height: 30px;
    background: url(/public/assets/img/code-logo.png) no-repeat top center/cover;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        font-weight: 700;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        height: 240px;
    }
    .footer ul {
        font-family: comiccartoon;
        font-weight: 700;
        font-size: 32px;
    }
    .footer li {
        font-family: sugar-bread;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 22px;
    }
    .div-contatos a {
        align-items: center;
    }
    
    #contatos div {
        width: 28px;
        height: 28px;
    }
    .div-pilares {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    #pilares li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .codejr-logo {
        width: 173px;
        height: 40px;       
    }
}