@font-face {
    font-family: Comicartoon;
    src: url(../assets/Comicartoon-Regular.ttf)
  }

  @font-face {
    font-family: SugarBread;
    src: url(../assets/Sugar\ Bread.otf)
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #d5e6e2;
}

/* Hero Section */
.hero {
    background: url('../assets/imagem\ de\ fundo.png');
    background-size: contain;
    height: 350px;
    width: 100%;
    text-align: center;
}

.hero img {
    height: 75%;
    width: 100%;
    object-fit: none;
    
}

.hero h1 {
    font-size: 2.5rem;
    font-family: 'Comicartoon', 'Comic Sans MS', sans-serif;
    text-transform: uppercase;
}

/* Posts Section */
.posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 60px;
    justify-items: center;
}

.post-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    max-width: 300px;
}

.post-item img {
    width: 100%;
    border-radius: 8px;
}

.post-item p {
    margin-top: 10px;
    font-weight: bold;
}

/* Load More Button */
.load-more {
    text-align: center;
    margin: 20px 0;
}

.load-more button {
    background-color: #D9D9D9;
    border: 2px;
    padding: 1% 1.2%;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.load-more button p {
    font-family: 'SugarBread';
    
}

.load-more button:hover {
    background-color: #b8958d;
    color: white;
}
