* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-direction: row;
  --titulo-display: block;
  --logo-width: 41%;
  --login-width: 50%;
  --logo-order: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/public/assets/img/background-login.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: var(--container-direction);
  width: 90%;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  margin: 4%;
  padding: 4%;
  align-items: center;
  justify-content: center;
}

#titulo {
  display: var(--titulo-display);
  font-family: comiccartoon;
  font-size: 88px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px #13acb1;
}

.mensagem-erro p{
  justify-self: center;
  text-align: center;
  color: #7e241e;
  font-size: 20px;
  font-family: open-sans;
  font-weight: 700;
}

.login {
  width: var(--login-width);
}

.input-container {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10% 0;
  align-items: center;
  justify-content: center;
}

.input-container input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-family: open-sans;
  font-size: 36px;
  color: white;
  padding: 20px 45px 20px 20px;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
}

.input-container input:hover {
  border: 2px solid white;
}

.input-container img {
  position: absolute;
  right: 4%;
  top: 30%;
  bottom: 30%;
}

.submit-button {
  width: 100%;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 40px;
  background-color: #13acb1;
  font-family: sugar-bread;
  font-size: 32px;
  color: black;
  margin-top: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
}

.submit-button:hover {
  background-color: #7e241e;
  color: white;
}

.logo {
  order: var(--logo-order);
  width: var(--logo-width);
  object-fit: contain;
  align-self: center;
}

.logo:hover {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  :root {
    --container-direction: column;
    --login-width: 100%;
    --titulo-display: none;
    --logo-order: -1;
    --logo-width: 80%;
  }
}
