* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line-opacity: 0;
  --pagina-login-display-direction: column;
  --pagina-login-elements-gap: 2%;
  --form-width: 100%;
  --form-height: 100%;
  --titulo-display: none;
  --input-height: 44px;
  --button-margin-top: 15%;
  --logo-order: -1;
  --logo-width: 160px;
}

body, html{
  height: 100%;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* padding: 16px; */
  /* border: 1px solid red; */
  font-family: sugar-bread;
  font-size: 40px;
  color: rgb(255, 255, 255);
  /* background-color: rgba(0, 0, 0, 1); */
  position: relative;
  background-color: black;
}

body::before {
  content: ' ';
  background-image: url(../assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  inset: 0;
  opacity: 0.25;
  background-attachment: scroll;

}

#pagina-login {
  isolation: isolate;
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 16px;
  /* margin: 40px 40px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: var(--pagina-login-display-direction);
  align-content: center;
  /* justify-content: space-between; */
  gap: var(--pagina-login-elements-gap);
  /* border: 1px solid green; */
}

form {
  width: var(--form-width);
  height: var(--form-height);
  display: grid;
  padding: 20px;
  /* border: 1px solid blue; */
  /* Linha Vertical */
  border-right: 4px solid rgba(255, 255, 255, var(--line-opacity));
}

#titulo {
  display: var(--titulo-display);
  font-family: comiccartoon;
  font-size: 80px;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.input input {
  height: var(--input-height);
  padding: 10px;
  border: transparent;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
  font: open-sans;
  /* font-size: 32px; */
}

button {
  color: black;
  font-family: sugar-bread;
  font-size: 28px;
  width: 100%;
  height: var(--input-height);
  margin-top: var(--button-margin-top);
  background: white;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

#logo {
  width: var(--logo-width);
  align-self: center;
  order: var(--logo-order);
  object-fit: fill;
  /* border: 1px solid yellow;  */
}

/* Tablet */
@media (min-width: 768px){
  :root {
    --logo-width: 168px;
    --input-height: 42px;
    --button-margin-top: 10%;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  :root {
    --line-opacity: 1;
    --pagina-login-display-direction: row;
    --pagina-login-elements-gap: 34%;
    --form-width: 204%;
    --form-height: 100%;
    --titulo-display: block;
    --input-height: 48px;
    --button-margin-top: 32px;
    --logo-order: 0;
    --logo-width: 360px;
  }
}

/* Laptop L */
@media (min-width: 1440px) {
  :root {
    --line-opacity: 1;
    --pagina-login-display-direction: row;
    --pagina-login-elements-gap: 48%;
    --form-width: 300%;
    --form-height: 100%;
    --titulo-display: block;
    --input-height: 48px;
    --button-margin-top: 32px;
    --logo-order: 0;
    --logo-width: 360px;
  }
}

/* Funciona no Note sem o inspecionar ativado

@media (min-width: 1024px) {
  :root {
    --line-opacity: 1;
    --pagina-login-display-direction: row;
    --pagina-login-elements-gap: 40%;
    --form-width: 280%;
    --form-height: 100%;
    --titulo-display: block;
    --input-height: 60px;
    --button-margin-top: 32px;
    --logo-order: 0;
    --logo-width: 494px;
  }
} */
