* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 40px;
  border: 1px solid red;
  font-family: open-sans;
  font-size: 40px;
  color: rgba(19, 172, 177, 1);
  background-color: rgba(0, 0, 0, 1);
  position: inherit;
}

#background {
  position: absolute;
  z-index: -1;
  opacity: 0.25;
  left: 0;
  top: 0;
}

#pagina-login {
  width: 100%;
  height: 100%;
  /* margin: 40px 40px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border: 1px solid green;
}

form {
  width: 250%;
  display: grid;
  padding: 40px;
  height: 100%;
  border: 1px solid blue;
  border-right: 4px solid white;
}

#titulo {
  display: block;
  font-family: comiccartoon;
  font-size: 80px;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.input input {
  border: transparent;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

/* .input {
  width: 100%;
  font-size: 20px;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
} */

button {
  color: rgba(19, 172, 177, 1);
  font-family: sugar-bread;
  font-size: 48px;
  width: 100%;
  background: white;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.linhaVertical {
  width: 4px;
  height: 90vh;
  background: white;
}

#logo {
  width: 50vh;
  align-self: center;
  border: 1px solid yellow; 
}
