* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line-opacity: 0;
  --pagina-login-display-direction: column;
  --form-width: 280%;
  --form-height: 100%;
  --logo-order: -1;
  --logo-width: 200px;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* padding: 16px; */
  /* border: 1px solid red; */
  font-family: open-sans;
  font-size: 40px;
  color: rgba(19, 172, 177, 1);
  background-color: rgba(0, 0, 0, 1);
  position: inherit;
}

#background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  opacity: 0.25;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#pagina-login {
  width: 100%;
  height: 100%;
  padding: 16px;
  /* margin: 40px 40px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: var(--pagina-login-display-direction);
  align-content: center;
  justify-content: space-between;
  /* border: 1px solid green; */
}

form {
  width: var(--form-width);
  height: var(--form-height);
  display: grid;
  padding: 20px;
  /* border: 1px solid blue; */
  border-right: 4px solid rgba(19, 172, 177, var(--line-opacity));
}

#titulo {
  display: block;
  font-family: comiccartoon;
  font-size: 80px;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.input input {
  height: 32px;
  padding: 10px;
  border: transparent;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
  font: open-sans;
  /* font-size: 32px; */
}

/* .input {
  width: 100%;
  font-size: 20px;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
} */

button {
  color: rgba(19, 172, 177, 1);
  font-family: sugar-bread;
  font-size: 48px;
  width: 100%;
  background: white;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.linhaVertical {
  width: 4px;
  height: 90vh;
  background: white;
}

#logo {
  width: var(--logo-width);
  align-self: center;
  order: var(--logo-order);
  /* border: 1px solid yellow;  */
}

@media (min-width: 768px) {
    :root {
      --line-opacity: 1;
      --pagina-login-display-direction: row;
      --form-width: 280%;
      --form-height: 100%;
      --logo-order: 0;
      --logo-width: 494px;
    }
}