@font-face {
    font-family: "Comicartoon-regular";
    src: url(../assets/Comicartoon-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Comicartoon-extrude";
    src: url(../assets/Comicartoon-3DExtrude.ttf) format('truetype');
}

@font-face {
    font-family: "Sugarbread";
    src: url(../assets/Sugar\ Bread.otf) format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #212627;
}
p {
    color:white;
    font-family: "Inter";
    font-weight: 400;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.general-container {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #212627;
}
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* overflow: scroll; */
    width: 225px;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background: #4A5759;
    font-family: "Sugarbread";
    z-index: 3;
}
.search-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}
.search-bar img {
    margin-left: auto;
}
.search-bar p {
    margin: auto;
}

.posts-div li {
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* flex: 0 1 calc(33.333% - 20px); */
    /* padding: 0; */
}

.posts-div div {
    display: flex;
    width: 353px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #4A5759;
    border-radius: 20px;
}
.posts-div #post img {
    align-self: stretch;
    border-radius: 20px;
}
.posts-div #post p {
    display: flex;
    justify-content: center;
    align-self: stretch;
    font-weight: 700;
}
.div-botao-mais {
    z-index: 2;
    display: flex;
    /* overflow: scroll; */
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 37px;
    width: 225px;
    border-radius: 20px;
    background: #4A5759;
    width: 225px;
    /* padding: 0 10px; */
}
.div-botao-mais p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Sugarbread";
    color: white;
    font-size: 15px;
}
.div-botao-mais a{
    display: block;
    height: 100%;
    width: 100%;
}
/* nao funciona? */
.general-container a:hover {
    color: black;
}

@media (min-width: 768px) {
    .general-container {
        align-items: center;
        /* justify-content: space-between; */
    }
    .search-bar {
        position: fixed;
        width: 416px;
        top: 20px;
        margin-bottom: 20px;
    }
    .search-bar p {
        display: flex;
        justify-content: center;
        flex: 1 0 0;
    }
    .posts-div li {
        margin: 0 auto;
    }
    .posts-div div {
        margin: 0 auto;
    }
    .posts-div ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    #post {
        width: 440px;
        margin: auto;
    }
    .div-botao-mais {
        position: absolute;
        left: calc((100vw / 2) - (225px / 2));
        bottom: 20px;
    }

}
