@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --overflow-container: hidden;
  --overflow-main: hidden;
  --height-container: 100vh;
  --font-size-header: 36px;
  --font-size-novo: 32px;
  --font-size-novo-bi: 44px;
  --margin-top-main: 1%;
  --font-size-table: 20px;
  --font-size-table-th: 28px;
  --margin-left-id-p: 8%;
  --margin-right-id-p: 1%;
  --font-size-acoes-bi: 28px;
  --margin-right-paginacao: 1%;
  --font-size-paginacao-bi: 40px;
  --fundo-input: #000;
  --height-table: calc(100vh - 200px);
}

body {
  width: 100vw;
  background-color: #1b2020;
}

.container {
  width: calc(100% - 82px);
  margin-left: 82px;
  height: var(--height-container);
  background-color: #586262a8;
  overflow: hidden;
  transition: margin-left 0.5s, width 0.5s;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 1.5%;
  background-color: #B0C4C4;
}

h1 {
  font-family: comiccartoon;
  font-size: var(--font-size-header);
}

#novo {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  font-family: sugar-bread;
  color: black;
  font-size: var(--font-size-novo);
  gap: 8%;
  padding: 0.5% 1%;
  background-color: #13acb1;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.468);
}

#novo:hover {
  background-color: #7e241e;
  color: white;
}

#novo .bi:hover {
  color: white;
  cursor: pointer;
}

#usuario .bi:hover {
  color: white;
}

#novo p {
  display: inline;
}

#novo .bi {
  font-size: var(--font-size-novo-bi);
  font-weight: bolder;
}

#main {
  width: 98%;
  padding: 1%;
  align-content: space-between;
  margin-top: var(--margin-top-main);
  margin-bottom: 1%;
  margin-left: 1%;
  background-color: #B0C4C4;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

table {
  width: 100%;
  height: var(--height-table);
  margin-top: 0.5%;
  border-collapse: collapse;
  font-family: open-sans;
  font-size: var(--font-size-table);
  color: black;
}

th {
  font-family: sugar-bread;
  font-size: var(--font-size-table-th);
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 10px;
}

tr th p {
  font-family: sugar-bread;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

tr:not(:first-child):hover {
  background-color: #e5e5e5;
}

tr p {
  font-family: open-sans;
  color: black;
  align-self: center;
  width: fit-content;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

.id p {
  margin-left: var(--margin-left-id-p);
  margin-right: var(--margin-right-id-p);
}

.data p {
  margin-right: 12px;
}

.acoes .bi {
  font-size: var(--font-size-acoes-bi);
}

.bi:hover {
  color: #13acb1;
}

.acoes .bi-trash:hover {
  color: #7e241e;
}

.botao {
  width: 40px;
}

.paginacao {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-self: start;
  justify-self: start;
  margin-right: var(--margin-right-paginacao);
  margin-top: 1%;
  gap: 12%;
}

.paginacao .bi {
  font-size: var(--font-size-paginacao-bi);
}

.paginacao button {
  background: transparent;
  border: 0;
}

.bi:hover {
  cursor: pointer;
}

@media (min-width: 2560px) {
  :root {
    --overflow-container: scroll;
    --height-container: 114vh;
    --font-size-header: 48px;
    --font-size-novo: 40px;
    --font-size-novo-bi: 56px;
    --font-size-table: 24px;
    --font-size-table-th: 32px;
    --font-size-acoes-bi: 32px;
    --font-size-paginacao-bi: 48px;
  }
  #header {
    padding: 2%;
  }
  #main {
    padding: 2%;
  }
}

@media (max-width: 768px) {
  :root {
    --overflow-main: scroll;
    --font-size-header: 24px;
    --font-size-novo: 14px;
    --font-size-novo-bi: 20px;
    --margin-top-main: 10%;
    --font-size-table-th: 14px;
    --font-size-table: 12px;
    --margin-left-id-p: 4%;
    --margin-right-id-p: 4%;
    --font-size-acoes-bi: 14px;
    --margin-right-paginacao: 2%;
    --font-size-paginacao-bi: 20px;
  }
  #header {
    flex-direction: column;
    align-items: flex-end;
    padding: 2%;
  }
  #novo {
    margin-top: 10px;
  }
  table {
    font-size: var(--font-size-table);
  }
  th, td {
    padding-left: 5px;
    padding-right: 5px;
  }
  .paginacao {
    flex-direction: column;
    align-items: flex-start;
    gap: 8%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
}