@font-face {
    font-family: "Comicartoon-regular";
    src: url(../assets/Comicartoon-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Comicartoon-extrude";
    src: url(../assets/Comicartoon-3DExtrude.ttf) format('truetype');
}

@font-face {
    font-family: "Sugarbread";
    src: url(../assets/Sugar\ Bread.otf) format('opentype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #212627;
}
p {
    color:white;
    font-family: "Inter";
    font-weight: 400;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.general-container {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #212627;
}
.search-bar {
    margin-bottom: auto;
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* overflow: scroll; */
    width: 300px;
    height: 40px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background: #4A5759;
    font-family: "Sugarbread";
}
.search-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}
.search-bar img {
    margin-left: auto;
}
.search-bar p {
    margin: auto;
}

.posts-div {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.posts-div li {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
}
.posts-div div {
    margin-top: 20px;
    display: flex;
    width: 310px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #4A5759;
    border-radius: 20px;
}
.posts-div #post img {
    align-self: stretch;
    border-radius: 20px;
}
.posts-div #post p {
    display: flex;
    justify-content: start;
    align-self: stretch;
    font-weight: 700;
    font-size: 14px;
}
.posts-div #post #titulo {
    justify-content: center;
    font-size: 16px;
}

.div-botao-pagina {
    margin-top: auto;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    height: 37px;
    width: 300px;
    border-radius: 20px;
    background: #4A5759;
    /* padding: 0 10px; */
}
.div-botao-pagina div {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
}
.div-botao-pagina .numero div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.div-botao-pagina .first:hover{
    color: rgba(255,255,255, 0.8);
}
.div-botao-pagina .prox:hover{
    color: rgba(255,255,255, 0.8);
}
.div-botao-pagina .prev:hover{
    color: rgba(255,255,255, 0.8);
}
.div-botao-pagina .last:hover{
    color: rgba(255,255,255, 0.8);
}
.div-botao-pagina .numero div:hover{
    color: rgba(255,255,255, 0.8);
}
.div-botao-pagina .numero .active {
    color:white
}


@media (min-width: 768px) {
    .general-container {
        align-items: center;
        justify-content: center;
    }
    .search-bar {
        /* position: relative;
        top: 40px; */
        margin-bottom: auto;
        margin-top: 20px;
        width: 416px;
    }
    .search-bar p {
        display: flex;
        justify-content: center;
        flex: 1 0 0;
    }
    
    .posts-div ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .posts-div li {
        margin: auto 0;
        /* margin: auto 0; */
    }
    #post {
        width: 370px;
        /* height: 300; */
    }
    .div-botao-pagina {
        /* position: absolute;
        bottom: 30px; */
        margin-top: auto;
        margin-bottom: 20px;
        width: 416px;
    }
    .div-botao-pagina div {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
    .div-botao-pagina div:not(.numero),
    .div-botao-pagina div.numero div {
        width: 40px;
        height: 40px;
    }
}
