@import url(fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --overflow-container: hidden;
  --overflow-main: hidden;
  --height-container: 100vh;
  --font-size-header: 36px;
  --font-size-novo: 32px;
  --font-size-novo-bi: 44px;
  --margin-top-main: 1%;
  --font-size-table: 20px;
  --font-size-table-th: 28px;
  --margin-left-id-p: 8%;
  --margin-right-id-p: 1%;
  --font-size-acoes-bi: 28px;
  --margin-right-paginacao: 1%;
  --font-size-paginacao-bi: 40px;
  --fundo-input: #000
}

::-webkit-scrollbar {
  /* / height: 90%; / */
  height: 6px;
}

::-webkit-scrollbar-track {
  /* background-color: var(--cor-branca-mas-nem-tanto); */
  background-color: #B0C4C4;
}

::-webkit-scrollbar-thumb {
  /* background: #3333331d;  */
  background: #13ACB1;
}

body {
  width: 100vw;
  background-color: #1b2020;
}

.container {
  width: calc(100% - 82px);
  margin-left: 82px;
  height: var(--height-container);
  background-color: #586262a8;
  overflow: hidden;
  transition: margin-left 0.5s, width 0.5s;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 1.5%;
  background-color: #B0C4C4;
}

h1 {
  font-family: comiccartoon;
  font-size: var(--font-size-header);
}

#novo {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  font-family: sugar-bread;
  color: black;
  font-size: var(--font-size-novo);
  gap: 8%;
  padding: 0.5% 1%;
  background-color: #13acb1;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.468);
}

#novo:hover {
  background-color: #7e241e;
  color: white;
}

#novo .bi:hover {
  color: white;
  cursor: pointer;
}

#usuario .bi:hover {
  color: white;
}

#novo p {
  display: inline;
}

#novo .bi {
  font-size: var(--font-size-novo-bi);
  font-weight: bolder;
}

#main {
  width: 98%;
  padding: 1%;
  align-content: space-between;
  margin-top: var(--margin-top-main);
  margin-bottom: 1%;
  margin-left: 1%;
  background-color: #B0C4C4;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

table {
  width: 100%;
  height: 64vh;
  margin-top: 0.5%;
  border-collapse: collapse;
  font-family: open-sans;
  font-size: var(--font-size-table);
  color: black;
}

th {
  font-family: sugar-bread;
  font-size: var(--font-size-table-th);
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 10px;
}

tr th p {
  font-family: sugar-bread;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

tr:not(:first-child):hover {
  background-color: #e5e5e5;
}

tr p {
  font-family: open-sans;
  color: black;
  align-self: center;
  width: fit-content;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

.id p {
  margin-left: var(--margin-left-id-p);
  margin-right: var(--margin-right-id-p);
}

.data p {
  margin-right: 12px;
}

.acoes .bi {
  font-size: var(--font-size-acoes-bi);
}

.bi:hover {
  color: #13acb1;
}

.acoes .bi-trash:hover {
  color: #7e241e;
}

.botao {
  width: 40px;
}

/* Estilo geral da paginação */
.pagination {
  width: 100%;
  height: fit-content;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 0;
  justify-content: center;
  background-color: transparent; /* cor de fundo combinando com a página */
  border-radius: 10px;
  font-family: open-sans;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}

/* Estilo dos itens de paginação */
.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000; /* cor do texto */
  font-weight: bold;
  background-color: #e8f0f0; /* cor de fundo dos botões */
  border: 1px solid #a5b8b8; /* borda combinando com o design */
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

/* Estilo ao passar o mouse */
.pagination .page-link:hover {
  background-color: #a5b8b8; /* cor ao passar o mouse */
  color: #fff; /* cor do texto ao passar o mouse */
  transform: scale(1.05);
}

/* Estilo do botão ativo */
.pagination .page-item.active .page-link {
  background-color: #007bff; /* cor do botão ativo */
  color: #fff;
  border: none;
}

/* Estilo do botão desabilitado */
.pagination .page-item.disabled .page-link {
  background-color: #d9d9d9;
  color: #7a7a7a;
  cursor: not-allowed;
}

/* Margem extra para separação da tabela */
.pagination-container {
  margin-top: 20px;
}

.bi:hover {
  cursor: pointer;
}

@media (min-width: 2560px) {
  :root {
    --overflow-container: scroll;
    --height-container: 114vh;
    --font-size-header: 48px;
    --font-size-novo: 40px;
    --font-size-novo-bi: 56px;
    --font-size-table: 24px;
    --font-size-table-th: 32px;
    --font-size-acoes-bi: 32px;
    --font-size-paginacao-bi: 48px;
  }
  #header {
    padding: 2%;
  }
  #main {
    padding: 2%;
  }
}

@media (max-width: 768px) and (min-width: 100px) {
  :root {
    --overflow-main: scroll;
    --font-size-header: 24px;
    --font-size-novo: 14px;
    --font-size-novo-bi: 20px;
    --margin-top-main: 4%;
    --font-size-table-th: 14px;
    --font-size-table: 12px;
    --margin-left-id-p: 4%;
    --margin-right-id-p: 4%;
    --font-size-acoes-bi: 14px;
    --margin-right-paginacao: 2%;
    --font-size-paginacao-bi: 20px;
  }
  #header {
    flex-direction: column;
    align-items: flex-end;
    padding: 2%;
  }
  #novo {
    margin-top: 10px;
  }
  table {
    font-size: var(--font-size-table);
  }
  th, td {
    padding-left: 5px;
    padding-right: 5px;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .pagination {
    width: 80%;
    /* overflow-x: scroll; */
    /* justify-content: start; */
  }
}