* {
    box-sizing: border-box;
}

@font-face{
    font-family: Comicartoon;
    src: url(../assets/fonts/Comicartoon.ttf) format('truetype');
}

:root {
    --general-background-color: #b0c4c4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--general-background-color);
    justify-content: center
}
.principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
.title{
    width: 100%;
    height: auto;
    /* border: #000000 1px solid; */
    margin-top: 15px;
    padding: 5px;
    color: #000000;
    background-color: var(--general-background-color);
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 400;
    font-family:'Inter';
}

.conteudo{
    width: 100%;
    display: flex;
    padding: 20px;
    padding-top: 0px;
    flex-direction: column;
    font-size: 20px;
    background-color: #b0c4c4;
    /* border: 1px solid black; */
}

.autor {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.autor img{
    width: 40px;
    height: 40px;
}

.data {
    /* border: 1px solid black; */
    display: inline;
}
.texto{
    /* border: 1px solid red; */
    padding: 5px 160px 0px 160px;
    /* margin: 0px 50px; */
    color: #000000;
    background-color: #b0c4c4;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter";
}

.imagem_principal {
    margin: 20px 160px;
    max-width: 1800px;
}
.imagem_principal img {
    width: fit-content;
    border-radius: 20px;
    max-width: 100%;
}

@media (max-device-width: 768px) {
    .title {
        padding: 3%;
        padding-bottom: 0;
        font-size: 38px;
    }

    .conteudo {
        font-size: 20px;
    }

    .nome-autor {
        padding: 10px 0;
    }
    
    .texto {
        font-size: 28px;
        padding: 0px;
        margin: 0 20px;
    }

    .imagem_principal{
        /* border: solid red 1px; */
        width: 90%;
        height: 90%;
        margin: 20px auto 0 auto;
        max-width: 100%;
    }

}
