* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212627;
    font-family: 'Comic Cartoon', sans-serif;
    margin: 0;
    padding: 0;
}

.fundo_title{
    text-align: center;
    width: 100%;
    max-width: 588px;
    height: auto;
    padding: 20px;
    background-color: #4A5759;
    color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-family: 'Comic Cartoon';
    margin-bottom: 20px;
}

.imagem_perfil{
    margin-bottom: 70px;
    text-align: center;
    width: 100%;
    max-width: 588px;
    height: auto;
}

.imagem_perfil img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-width: 588px;
    height: auto;
}

.perfil{
    border-radius: 20px;
    width: 100%;
    max-width: 580px;
    background-color: #4A5759;
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 20px;
}

.perfil img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.texto{
    padding: 20px;
    color: #FFFFFF;
}

.img_descricao{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px){
    .fundo_title, .imagem_perfil, .perfil{
        width: 90%;
    }

    .fundo_title{
        font-size: 22px;
    }

    .imagem_perfil img, .perfil{
        width: 100%;
    }

    .img_descricao{
        flex-direction: column;
    }
}
