* {
    box-sizing: border-box;
}

@font-face{
    font-family: Comicartoon;
    src: url(../assets/fonts/Comicartoon.ttf) format('truetype');
    }

body{
    align-items: center;
    height: 100vh;
    background-color: #b0c4c4;
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    
}
.principal {

    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;  
}
.fundo_title{
    text-align: center;
    width: 100%;
    max-width: 40%;
    height: auto;
    padding: 20px;
    background-color: #4A5759;
    color: #000000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family:'Comicartoon';
    margin-bottom: 20px;
}

.imagem_perfil{
    margin-bottom: 70px;
    text-align: center;
    width: 100%;
    max-width: 40%;
    max-height: 622px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 20px;
}

.imagem_perfil img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.perfil{
    border-radius: 20px;
    width: 100%;
    max-width: 40%;
    min-height: 300px;
    background-color: #4A5759;
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20px;
}

.perfil img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.texto{
    padding: 20px;
    color: #000000;
    text-align: center;
    font-size: 24px;
}

.img_descricao{
    align-items: center;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 768px){
    .fundo_title, .imagem_perfil, .perfil{
        width: 90%;
        max-width: none;
    }

    .fundo_title{
        font-size: 22px;
    }

    .imagem_perfil img, .perfil{
        width: 100%;
    }

    .img_descricao{
        flex-direction: column;
    }
}

@media (max-width: 480px){
    .fundo_title {
        font-size: 20px;
        padding: 15px;
    }

    .texto{
        font-size: 20px;
        padding: 15px;
    }
}
