* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  font-family: open-sans;
  font-size: 40px;
  color: rgba(19, 172, 177, 1);
}

#pagina-login {
  width: 100%;
  height: 100%;
  margin: 40px 40px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: auto;
}

form {
  display: grid;
  height: 100%;
}

#titulo {
  font-family: comiccartoon;
  font-size: 80px;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.input input {
  border: transparent;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

/* .input {
  width: 100%;
  font-size: 20px;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
} */

button {
  color: rgba(19, 172, 177, 1);
  font-family: sugar-bread;
  font-size: 48px;
  width: 100%;
  background: white;
  border: 0;
  border-radius: 30px;
  box-shadow: 5px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

#logo {
  width: 40%;
}
