* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-table: 20px;
  --font-size-th: 28px;
}

body {
  height: 100vh;
  background-color: #586262a8;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: 1%;
  background-color: #B0C4C4;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 2%;
  background-color: white;
}

h1 {
  font-family: comiccartoon;
  font-size: 48px;
}

#usuario {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  font-family: sugar-bread;
  color: black;
  font-size: 32px;
  gap: 8%;
  padding: 0.5% 1%;
  background-color: #13acb1;
  /* border: 1px solid blue; */
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.468)
}

#usuario:hover {
  background-color: #7E241E;
  color: white;
}

#usuario p {
  display: inline;
  /* border: 2px solid yellow; */
}

#usuario .bi{
  font-size: 44px;
  font-weight: bolder;
}


#main {
  width: 96%;
  height: 80%;
  padding: 2%;
  align-content: space-between;
  margin-top: 1%;
  margin-left: 1%;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

table {
  width: 100%;
  height: 80%;
  margin-top: 0.5%;
  border-collapse: collapse;
  /* border: 1px solid black; */
  font-family: open-sans;
  font-size: var(--font-size-table);
  color: black;
}

th {
  font-family: sugar-bread;
  font-size: var(--font-size-th);
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0.40);
  /* background-color: #13acb1; */
}

tr th p {
  font-family: sugar-bread;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  /* align-items: center;
  justify-content: center; */
}

tr:hover {
  background-color: #e5e5e5;
}

/* .bi-person-circle {
  font-size: 28px;
  align-self: center;
  margin-right: 1%;
} */

tr p {
  font-family: open-sans;
  color: black;
  align-self: center;
}

.id p {
  margin-left: 8%;
}

.acoes {
  font-size: 28px;
}

.bi:hover {
  color: #13acb1;
}

.acoes .bi-trash:hover {
  color: #7E241E;
}

/* .bi-person-circle{
  font-size: 50px;
} */

/* Adicionar sombra quando passar por cima */

.botao {
  width: 40px;
}

.paginacao {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 3%;
  margin-top: 1%;
  /* padding: 1%; */
  gap: 12%;
  /* border: 1px solid lime; */
}

.paginacao .bi {
  font-size: 40px;
}

.paginacao button {
  background: transparent;
  border: 0;
}

.bi:hover {
  cursor: pointer;
}

