* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-table: 28px;
  --font-size-th: 36px;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 1% 4%;
  background-color: #B0C4C4;
}

#main {
  width: 100%;
  height: fit-content;
  padding: 2%;
  align-content: space-between;
  /* margin: 4%; */
  background-color: white;
  border: 1px solid red;
  border-radius: 2%;
}

h1 {
  font-family: sugar-bread;
  font-size: 48px;
}

table {
  width: 100%;
  height: fit-content;
  margin-top: 2%;
  border: 1px solid black;
  font-family: open-sans;
  font-size: var(--font-size-table);
  color: black;
}

th {
  font-family: sugar-bread;
  font-size: var();
  text-align: left;
}

.modal {
  width: 60px;
}

table, th, td {
  border: 1px solid wh;
}

table {
  border-collapse: collapse;
}

#paginacao {
  display: flex;
  justify-content: end;
  padding: 1%;
  gap: 12px;
  border: 1px solid lime;
}

button {
  font-size: 20px;
  border-radius: 10px;
  padding: 4px;
}