* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --height-container: 100vh;
  --font-size-header: 36px;
  --font-size-usuario: 32px;
  --font-size-usuario-bi: 44px;
  --margin-top-main: 1%;
  --font-size-table: 20px;
  --font-size-table-th: 28px;
  --margin-left-id-p: 8%;
  --margin-right-id-p: 1%;
  --font-size-acoes-bi: 28px;
  --margin-right-paginacao: 1%;
  --font-size-paginacao-bi: 40px;
}

body {
  width: 100vw;
  /* height: 100vh; */
  background-color: #586262a8;
}

.container {
  width: 99%;
  height: var(--height-container);
  margin-left: 1%;
  background-color: #B0C4C4;
  /* border: 2px solid #7E241E; */
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 2%;
  background-color: white;
}

h1 {
  font-family: comiccartoon;
  font-size: var(--font-size-header);
}

#usuario {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  font-family: sugar-bread;
  color: black;
  font-size: var(--font-size-usuario);
  gap: 8%;
  padding: 0.5% 1%;
  background-color: #13acb1;
  /* border: 1px solid blue; */
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.468)
}

#usuario:hover {
  background-color: #7E241E;
  color: white;
}

#usuario p {
  display: inline;
  /* border: 2px solid yellow; */
}

#usuario .bi{
  font-size: var(--font-size-usuario-bi);
  font-weight: bolder;
}


#main {
  width: 98%;
  padding: 1%;
  align-content: space-between;
  margin-top: var(--margin-top-main);
  margin-bottom: 1%;
  margin-left: 1%;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

table {
  width: 100%;
  height: 68vh;
  margin-top: 0.5%;
  border-collapse: collapse;
  /* border: 1px solid black; */
  font-family: open-sans;
  font-size: var(--font-size-table);
  color: black;
}

th {
  font-family: sugar-bread;
  font-size: var(--font-size-table-th);
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0.40);
  /* background-color: #13acb1; */
}

tr th p {
  font-family: sugar-bread;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  /* align-items: center;
  justify-content: center; */
}

tr:hover {
  background-color: #e5e5e5;
}

/* .bi-person-circle {
  font-size: 28px;
  align-self: center;
  margin-right: 1%;
} */

tr p {
  font-family: open-sans;
  color: black;
  align-self: center;
}

.id p {
  margin-left: var(--margin-left-id-p);
  margin-right: var(--margin-right-id-p);
}

.email p {
  margin-right: 12px;
}


.acoes .bi{
  font-size: var(--font-size-acoes-bi);
}

.bi:hover {
  color: #13acb1;
}

.acoes .bi-trash:hover {
  color: #7E241E;
}

/* .bi-person-circle{
  font-size: 50px;
} */

/* Adicionar sombra quando passar por cima */

.botao {
  width: 40px;
}

.paginacao {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-self: end;
  /* position: absolute;
  right: 3%; */
  margin-right: var(--margin-right-paginacao);
  margin-top: 1%;
  /* padding: 1%; */
  gap: 12%;
  /* border: 1px solid lime; */
}

.paginacao .bi {
  font-size: var(--font-size-paginacao-bi);
}

.paginacao button {
  background: transparent;
  border: 0;
}

.bi:hover {
  cursor: pointer;
}

@media (min-width: 2560px) {
  :root {
    --height-container: 114vh;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  :root {
    --font-size-header: 24px;
    --font-size-usuario: 12px;
    --font-size-usuario-bi: 20px;
    --margin-top-main: 4%;
    --font-size-table-th: 20px;
    --font-size-table: 15px;
    --margin-right-id-p: 12px;
    --font-size-acoes-bi: 16px;
    --margin-right-paginacao: 2%;
    --font-size-paginacao-bi: 24px;
  }
}
