* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --modal-content-width: 50%;
  --modal-content-height: 80vh;
  --font-size-titulo-visualizar-post: 26px;
  --font-size: 20px;
  --font-size-buttons: 28px;
  --font-size-buttons-visualizar-post: 28px;
  --font-size-buttons-hover-visualizar-post: 32px;
  --margin-top-buttons: 16%;
}

.modal-visualizar-post ::-webkit-scrollbar {
  /* / height: 90%; / */
  width: 6px;
}

.modal-visualizar-post ::-webkit-scrollbar-track {
  background-color: #B0C4C4;
}

.modal-visualizar-post ::-webkit-scrollbar-thumb {
  /* background: #3333331d;  */
  background: #13ACB1;
}

/* #modalVisualizarPost ::-webkit-scrollbar-track {
    background-color: #b0c4c4;
} */

/* ::-webkit-scrollbar {
  / height: 90%; /
} */
 
/* #modalVisualizarPost ::-webkit-scrollbar-thumb {
    /* background: #3333331d;
    background-color: #595959;
} */

/* Estilos gerais do modal */
.modal-visualizar-post {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(11, 11, 11, 0.762);
}

.modal-content-visualizar-post {
  background-color: #b0c4c4;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 0px;
  margin: auto;
  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  width: var(--modal-content-width);
  height: var(--modal-content-height);
  overflow-y: scroll;
  margin-bottom: 20vh;
}

.modal-body-visualizar-post {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Botão de fechar (X) */
.close-visualizar-post {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* Imagem do usuário */
.user-image-visualizar-post {
  /* border: #7E241E 1px solid; */
  background-color: var(--cor-branca-mas-nem-tanto);
  max-width: 100%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  /* margin: 0 auto 20px; */
}

.user-image-visualizar-post img {
  width: fit-content;
  max-width: 100%;
  border-radius: 20px;
}

/* #input-image {
  display: none;
} */

#id {
  display: none;
}

/* Estilos dos campos de dados */
.input-group-visualizar-post {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  align-items: center;
}

/* #first {
  margin-top: 12%;
} */

.input-group-visualizar-post input, textarea {
  width: 90%;
  height: calc(var(--font-size) + 10px);
  border-radius: 10px;
  border: none;
  background-color: var(--cor-branca-mas-nem-tanto);
  outline: none;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  color: #000;
  font-size: var(--font-size);
  padding-left: 30px;
}

.input-group-visualizar-post .input-titulo-visualizar-post {
  margin-top: 0;
  height: calc(var(--font-size-titulo-visualizar-post) + 20px);
  font-size: var(--font-size-titulo-visualizar-post);
}

.input-group-visualizar-post input {
  text-align: center;
}

.input-group-visualizar-post textarea {
  height: 100vh;
  width: 90%;
  border-radius: 10px;
  resize: none;
}

.input-group-visualizar-post input[readonly], textarea[readonly] {
  cursor: default;
}

#data-criacao-visualizar-post {
  width: 25%;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-self: center;
}

.close-visualizar-post:hover, .close-visualizar-post:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Botão de fechar */
.button-fechar-visualizar-post {
  display: flex;
  height: fit-content;
  justify-content: center;
  bottom: 0%;
  left: 30px;
  right: 30px;
}


.fechar-visualizar-post {
  width: 60%;
  height: fit-content;
  background-color: #7E241E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-family: sugar-bread;
  font-size: var(--font-size-buttons-visualizar-post);
  text-align: center;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  margin-bottom: 24px;
  transition: all 200ms ease-in-out;
}

.fechar-visualizar-post:hover {
  width: 68%;
  font-size: var(--font-size-buttons-hover-visualizar-post);
  border: 2px solid #fff;
}

/* MOBILE */
@media (max-width: 768px) {
  :root {
    --modal-content-width: 90vw;
    --modal-content-height: 90vh;
    --font-size: 32px;
    --font-size-buttons: 24px;
    --margin-top-buttons: 40%;
  }
  .modal-content-visualizar-post {
    width: 90vw;
    height: 90vh;
  }
  .input-group-visualizar-post input {
    padding-left: 0px;
  }
  .input-group-visualizar-post #data-criacao-visualizar-post {
    width: 50vw;
    font-size: 24px;
  }

}