* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(	176, 196, 196, 0.5);
}

.modal-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 30px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 40vw;
  height: 73vh;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Botão de fechar (X) */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* Imagem do usuário */
.user-image {
  background-color: transparent;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  margin: 0 auto 20px;
}


/* Estilos dos campos de dados */
.input-group {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

#first {
  margin-top: 5px;
}

.input-group input {
  width: 100%;
  height: 37px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  color: #000;
  font-size: 32px;
  padding-left: 30px;
}

.input-group input[readonly] {
  cursor: default;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Botão de fechar */
.button-fechar {
  display: flex;
  justify-content: center;
  margin-top: 16%;
}

.fechar {
  background-color: transparent;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-family: sugar-bread;
  font-size: 32px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
}

.fechar:hover {
  background-color: #7E241E;
  color: white;
}