* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-branca-mas-nem-tanto: antiquewhite;
  --modal-content-width-visualizar: 40vw;
  --modal-content-height-visualizar: 88vh;
  --font-size: 20px;
  --font-size-buttons-user: 24px;
  --font-size-buttons-hover-user: 28px;
  --width-height-user-image: 168px;
  --font-size-buttons: 28px;
  --margin-top-buttons: 16%;
}

/* Estilos gerais do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(11, 11, 11, 0.762);
}

.modal-content {
  background-color: #B0C4C4;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 0px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: var(--modal-content-width-visualizar);
  height: var(--modal-content-height-visualizar);
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* Botão de fechar (X) */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* Imagem do usuário */
.user-image-view {
  background-color: transparent;
  width: var(--width-height-user-image);
  height: var(--width-height-user-image);
  overflow: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  overflow: hidden;
}

#image-view img {
  object-fit: cover;
}


/* Estilos dos campos de dados */
.input-group {
  display: flex;
  flex-direction: column;
}

/* #first {
  margin-top: 12%;
} */

.input-group input {
  width: 100%;
  height: calc(var(--font-size) + 10px);
  padding: 0px 30px;
  border-radius: 20px;
  border: none;
  background-color: var(--cor-branca-mas-nem-tanto);
  outline: none;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  color: #000;
  font-size: var(--font-size);
}

.input-group input[readonly] {
  cursor: default;
  background-color: var(--cor-branca-mas-nem-tanto);
  font-size: 20px;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Botão de fechar */
.button-fechar {
  display: flex;
  height: fit-content;
  justify-content: center;
  position: relative;
  margin-top: auto;
  margin-bottom: 24px;
  left: 30px;
  right: 30px;
}

.fechar {
  width: 60%;
  height: fit-content;
  background-color: #7E241E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-family: sugar-bread;
  font-size: var(--font-size-buttons-user);
  text-align: center;
  box-shadow: 0px 4px 8px rgba(11, 11, 11, 0.762);
  margin-bottom: 24px;
  transition: all 200ms ease-in-out;
  white-space: nowrap; /* Ensure text does not wrap */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.fechar:hover {
  width: 68%;
  font-size: var(--font-size-buttons-hover-user);
  border: 2px solid white;
}

/* 4K */
/* @media (min-width:2560px) {
  :root {
    --modal-content-width: 40vw;
    --modal-content-height: 72vh;
    --font-size: 56px;
    --width-height-user-image: 208px;
    --font-size-buttons: 48px;
  }
} */

/* MOBILE */
@media (max-width: 768px) {
  :root {
    --modal-content-width: 95vw; /* Further increase width for mobile */
    --modal-content-height: 85vh;
    --font-size: 20px;
    --font-size-buttons: 18px;
    --margin-top-buttons: 15%;
  }
  h1 {
    padding-bottom: 10px;
  }
  .modal-content {
    width: 90vw;
    height: 90vh;
  }
  .input-group {
    padding-top: 1vh;
  }
} 

/* TABLET */
/* @media (min-width: 481px) and (max-width: 768px) {
  :root {
    --modal-content-width: 85vw;
    --modal-content-height: 75vh;
    --font-size: 22px;
    --font-size-buttons: 20px;
    --margin-top-buttons: 18%;
  }
} */

/* SMALL DESKTOP */
/* @media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --modal-content-width: 70vw;
    --modal-content-height: 75vh;
    --font-size: 28px;
    --font-size-buttons: 24px;
    --margin-top-buttons: 18%;
  }
} */

/* LARGE DESKTOP */
/* @media (min-width: 1025px) and (max-width: 1440px) {
  :root {
    --modal-content-width: 50vw;
    --modal-content-height: 70vh;
    --font-size: 28px;
    --font-size-buttons: 24px;
    --margin-top-buttons: 16%;
  }
} */