<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/fonts.css">
  <link rel="stylesheet" href="../../../public/css/criar.css">
  <title>CartoonVerse</title>
</head>
<body>
  <button onclick="abrirModal('modalCriar')">CRIAR</button>
  <!-- Modal de Criar -->
    <div id="modalCriar" class="modal">
      <div class="modal-content">
        <span class="close" id="closeCriar" onclick="fecharModal('modalCriar')"
          >&times;</span
        >
        <div class="modal-body">
          <!-- Campos de Entrada -->
           <div class="modal-form">
            <form action="" method="post" class="modal-form" id="new-user">
              <!-- Imagem do usuário -->
                <label for="input-image" class="user-image" tabindex="0" id="image">
                  <span class="user-image" id="image">
                  </span>
                </label>
                <input type="file" accept="image/png,image/jpeg" class="input-image" form="new-user" name="input-image" id="input-image">
              <div class="input-group" id="first">
                <input type="text" placeholder="Nome" form="new-user" required/>
              </div>
              <div class="input-group">
                <input type="email" placeholder="Email" form="new-user" required/>
              </div>
              <div class="input-group">
                <input type="" placeholder="Senha" form="new-user" required/>
              </div>
              <!-- Botões de Ação -->
              <div class="modal-buttons">
                <button class="cancel" onclick="fecharModal('modalCriar')" form="new-user"  formnovalidate type="button">
                  Cancelar
                </button>
                <button class="confirm" form="new-user" formmethod="post">Confirmar</button>
              </div>
            </form>
           </div>
        </div>
      </div>
    </div>
</body>
<script src="../../../public/js/index.js"></script>
<script src="../../../public/js/criar.js"></script>
</html>