<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/fonts.css">
  <link rel="stylesheet" href="../../../public/css/criar.css">
  <title>CartoonVerse</title>
</head>
<body>
  <!-- Modal de Criar -->
    <div id="modalEditar" class="modal">
      <div class="modal-content">
        <span class="close" id="closeEditar" onclick="fecharModal('modalEditar')"
          >&times;</span
        >
        <div class="modal-body">
          <!-- Campos de Entrada -->
           <div class="modal-form">
            <form action="" method="post" class="modal-form" id="edit-user">
              <!-- Imagem do usuário -->
                <label for="input-image" class="user-image" tabindex="0" id="image">
                  <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/12/13/istock-1331962950-1iemnjv7a6ng6.jpg" alt="">
                </label>
                <input type="file" accept="image/png,image/jpeg, image/jpg" class="input-image" form="edit-user" name="input-image" id="input-image" required>
              <div class="input-group" id="first">
                <input type="text" value="Rafael Pagode da Silva" placeholder="Nome" form="edit-user" required/>
              </div>
              <div class="input-group">
                <input type="email" value="Rafael Pagode da Silva" placeholder="Email" form="edit-user" required/>
              </div>
              <div class="input-group">
                <input type="" value="Rafael Pagode da Silva" placeholder="Senha" form="edit-user" required/>
              </div>
              <!-- Botões de Ação -->
              <div class="modal-buttons">
                <button class="cancel" onclick="fecharModal('modalEditar')" form="edit-user"  formnovalidate type="button">
                  Cancelar
                </button>
                <button class="confirm" form="edit-user" formmethod="post">Confirmar</button>
              </div>
            </form>
           </div>
        </div>
      </div>
    </div>
</body>
<script src="../../../public/js/modais.js"></script>
</html>