<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/fonts.css">
  <link rel="stylesheet" href="../../../public/css/excluir.css">
  <title>CartoonVerse</title>
</head>
<body>
  <div id="modalExcluir" class="modal">
  <div class="modal-content modal-excluir">
    <span class="close" onclick="closeModalExcluir()">&times;</span>
    <p>Tem certeza de que deseja excluir este item?</p>
    <div class="modal-footer">
      <button onclick="confirmarExclusao()" class="btn-confirmar">Confirmar</button>
      <button onclick="closeModalExcluir()" class="btn-cancelar">Cancelar</button>
    </div>
  </div>
</div>
</body>
<script src="../../../public/js/index.js"></script>
</html>