<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teste modais</title>
    <link rel="stylesheet" href="/public/css/user-list.css" />
  </head>
  <body>
    <!-- Botões para abrir os modais -->
    <button id="btnCriar" onclick="abrirModal('modalCriar')">Criar</button>
    <button id="btnEditar" onclick="abrirModal('modalEditar')">Editar</button>
    <button id="btnVisualizar" onclick="abrirModal('modalVisualizar')">
      Visualizar
    </button>
    <button id="btnExcluir" onclick="abrirModal('modalExcluir')">
      Excluir
    </button>

    <!-- Modal de Criar -->
    <div id="modalCriar" class="modal">
      <div class="modal-content">
        <span class="close" id="closeCriar" onclick="fecharModal('modalCriar')"
          >&times;</span
        >
        <div class="modal-body">
          <!-- Imagem do usuário -->
          <div class="user-image"></div>

          <!-- Campos de Entrada -->
          <div class="input-group">
            <input type="text" value="ID X" readonly />
          </div>
          <div class="input-group">
            <input type="text" placeholder="Nome do usuário" />
          </div>
          <div class="input-group">
            <input type="email" placeholder="Email" />
          </div>
          <div class="input-group">
            <input type="" placeholder="Telefone" />
          </div>
          <!-- Botões de Ação -->
          <div class="modal-buttons">
            <button class="confirm">Confirmar</button>
            <button class="cancel" onclick="fecharModal('modalCriar')">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal de Editar -->
    <div id="modalEditar" class="modal">
      <div class="modal-content">
        <span
          class="close"
          id="closeEditar"
          onclick="fecharModal('modalEditar')"
          >&times;</span
        >
        <h2>Editar</h2>
        <p>Conteúdo do modal para editar.</p>
        <button>Salvar</button>
      </div>
    </div>

    <!-- Modal de Visualizar -->
    <div id="modalVisualizar" class="modal">
      <div class="modal-content">
        <span
          class="close"
          id="closeVisualizar"
          onclick="fecharModal('modalVisualizar')"
          >&times;</span
        >
        <h2>Visualizar</h2>
        <p>Conteúdo do modal para visualizar.</p>
      </div>
    </div>

    <!-- Modal de Excluir -->
    <div id="modalExcluir" class="modal">
      <div class="modal-content">
        <span
          class="close"
          id="closeVisualizar"
          onclick="fecharModal('modalExcluir')"
          >&times;</span
        >
        <p>Tem certeza que deseja excluir?</p>
        <div class="modal-buttons">
          <button class="confirm">Excluir</button>
          <button class="cancel" onclick="fecharModal('modalExcluir')">
            Cancelar
          </button>
        </div>
      </div>
    </div>

    <script src="/public/js/index.js"></script>
  </body>
</html>
