<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/fonts.css">
  <link rel="stylesheet" href="../../../public/css/user-list.css">
  <title>CartoonVerse</title>
</head>
<body>
  <div id="main">
    <!-- Titulo -->
    <h1>LISTA DE USUÁRIOS</h1>
    <!-- Tvz um contador de registros -->
    <!-- adicionar botão de criar usuários -->
     <!-- Tabela -->
     <table>
      <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>AÇÕES</th>
      </tr>
      <tr>
        <td class="id">lorem</td>
        <td class="nome">lorem</td>
        <td class="email">lorem</td>
        <td class="acoes">
          <a href=""><img src="/public/assets/icons/visualizar.png" alt="Botão de Visualizar" class="modal" id="visualizar"></a>
          <a href=""><img src="/public/assets/icons/editar.png" alt="Botão de Editar" class="modal" id="editar"></a>
          <a href=""><img src="/public/assets/icons/deletar.png" alt="Botão de Deletar" class="modal" id="excluir"></a>
        </td>
      </tr>
            <trow>
        <td class="id">lorem</td>
        <td class="nome">lorem</td>
        <td class="email">lorem</td>
        <td class="acoes">
          <a href=""><img src="/public/assets/icons/visualizar.png" alt="Botão de Visualizar" class="modal" id="visualizar"></a>
          <a href=""><img src="/public/assets/icons/editar.png" alt="Botão de Editar" class="modal" id="editar"></a>
          <a href=""><img src="/public/assets/icons/deletar.png" alt="Botão de Deletar" class="modal" id="excluir"></a>
        </td>
      </tr>
            <trow>
        <td class="id">lorem</td>
        <td class="nome">lorem</td>
        <td class="email">lorem</td>
        <td class="acoes">
          <a href=""><img src="/public/assets/icons/visualizar.png" alt="Botão de Visualizar" class="modal" id="visualizar"></a>
          <a href=""><img src="/public/assets/icons/editar.png" alt="Botão de Editar" class="modal" id="editar"></a>
          <a href=""><img src="/public/assets/icons/deletar.png" alt="Botão de Deletar" class="modal" id="excluir"></a>
        </td>
      </tr>
            <trow>
        <td class="id">lorem</td>
        <td class="nome">lorem</td>
        <td class="email">lorem</td>
        <td class="acoes">
          <a href=""><img src="/public/assets/icons/visualizar.png" alt="Botão de Visualizar" class="modal" id="visualizar"></a>
          <a href=""><img src="/public/assets/icons/editar.png" alt="Botão de Editar" class="modal" id="editar"></a>
          <a href=""><img src="/public/assets/icons/deletar.png" alt="Botão de Deletar" class="modal" id="excluir"></a>
        </td>
      </tr>
            <trow>
        <td class="id">lorem</td>
        <td class="nome">lorem</td>
        <td class="email">lorem</td>
        <td class="acoes">
          <a href=""><img src="/public/assets/icons/visualizar.png" alt="Botão de Visualizar" class="modal" id="visualizar"></a>
          <a href=""><img src="/public/assets/icons/editar.png" alt="Botão de Editar" class="modal" id="editar"></a>
          <a href=""><img src="/public/assets/icons/deletar.png" alt="Botão de Deletar" class="modal" id="excluir"></a>
        </td>
      </tr>
     </table>
     <!-- paginação -->
     <div id="paginacao">
      <button>Anterior</button>
      <button>Próximo</button>
     </div>
  </div>
</body>
</html>