<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/fonts.css">
  <title>CartoonVerse</title>
</head>
<body>
  <div id="main">
    <h1>Lista de Usuários</h1>
    <!-- Tvz um contador de registros -->
    <!-- adicionar botão de criar usuários -->
     <table>
      <trow>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>AÇÕES</th>
      </trow>
      <trow></trow>
      <trow></trow>
      <trow></trow>
      <trow></trow>
      <trow></trow>
     </table>
  </div>
</body>
</html>