<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/footer-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <div class="div-contatos">
            <ul id="contatos">
                CONTATO
                <li>
                    <a href="#" alt="Instagram">
                        <div id="ig-div">
                        </div>
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="#" alt="Facebook">
                        <div id='fb-div'>
                            <!-- <a href="#" alt="Facebook"></a> -->
                        </div>
                        Facebook
                    </a>
                </li>
                <li id="twitter-li">
                    <a href="#" alt="X/Twitter">
                        <div id="x-div">
                            <!-- <a href="#" alt="X/Twitter"></a> -->
                        </div>
                        X
                    </a>
                </li>
            </ul>
        </div>
        <div class="div-pilares">
            <ul id="pilares">
                PILARES
                <li>
                    Missão
                </li>
                <li>
                    Visão
                </li>
                <li>
                    Valores
                </li>
            </ul>
        </div>
        <a href="#">
            <div class="codejr-logo"></div>
        </a>

    </footer>
    
</body>
</html>
