<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/footer_style.css">
    <title>Footer</title>
</head>
<body>
    <main>
        <p>oi</p>
    </main>
    <footer class="footer">
        <div class="div-pilares">
            <ul id="pilares">
                PILARES
                <li>
                    Missão
                </li>
                <li>
                    Visão
                </li>
                <li>
                    Valores
                </li>
            </ul>
        </div>
        <div class="div-contatos">
            <ul id="contatos">
                CONTATOS
                <li>
                    <a href="#">
                        <img src="../../../public/assets/Instagram-dark.png" alt="Instagram"> Instagram
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../public/assets/Facebook-dark.png" alt=""> Facebook
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../public/assets/TwitterX-dark.png" alt="X/Twitter"> X
                    </a>
                </li>
            </ul>
        </div>
        <a href="#">
            <div class="codejr-logo"></div>
        </a>

    </footer>
    
</body>
</html>
