<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CartoonVerse - Um Universo de Nostalgia</title>
    <link rel="stylesheet" href="../../../public/css/landing_page.css" />
  </head>
  <body>
    <!-- Main Section -->
    <section class="hero">
      <div id="hero2">
        <img
          src="../../../public/assets/logo2.png"
          alt="CartoonVerse"
          id="logo2"
        />
        <div id="logoslogan">
          <img
            src="../../../public/assets/logo3.png"
            alt="CartoonVerse"
            id="logo3"
          />
          <h1>Um Universo de Nostalgia</h1>
        </div>
      </div>
    </section>

    <section class="about">
      <div>Missão</div>
      <div>Valores</div>
      <div></div>
    </section>

    <!-- Posts Grid -->
    <section class="posts">
      <div class="post-item">
        <img src="../../../public/assets/simpsons.jpg" alt="Simpsons" />
        <p>Simpsons blablabla</p>
      </div>
      <div class="post-item">
        <img src="../../../public/assets/simpsons.jpg" alt="Simpsons" />
        <p>Simpsons blablabla</p>
      </div>
      <div class="post-item">
        <img src="../../../public/assets/simpsons.jpg" alt="Simpsons" />
        <p>Simpsons blablabla</p>
      </div>
      <div class="post-item">
        <img src="../../../public/assets/simpsons.jpg" alt="Simpsons" />
        <p>Simpsons blablabla</p>
      </div>
      <div class="post-item">
        <img src="../../../public/assets/simpsons.jpg" alt="Simpsons" />
        <p>Simpsons blablabla</p>
      </div>
      <div class="post-item">
        <img src="../../../public/assets/simpsons.jpg" alt="Anúncio" />
        <p>Logo e som me ouvem</p>
      </div>
    </section>

    <!-- Load More Button -->
    <div class="load-more">
      <button><p>Ver Mais Posts</p></button>
    </div>
  </body>
</html>
