<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../../public/css/login.css" />
    <link rel="stylesheet" href="../../../public/css/fonts.css" />
  </head>
  <body>
    <div id="pagina-login">
      <div class="formulario">
        <form action="/pagina-dos-dados" method="post">
          <div>
            <label for="titulo" id="titulo">LOGIN</label>
          </div>
          <div class="input">
            <div class="input formulario">
              <label for="email">Email:</label>
              <input placeholder="Email" type="email"/>
            </div>
            <div class="input formulario">
              <label for="senha">Senha:</label>
              <input placeholder="Senha" type="password"/>
            </div>
          </div>
          <div class="button formulario">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
      <div id="logo">
        <img
          src="../../../public/assets/Logo 1 sem fundo.png"
          alt="Logo do CartoonVerse"
          id="logo"
        />
      </div>
    </div>
  </body>
</html>
