<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CartoonVerse</title>
    <link rel="stylesheet" href="../../../public/css/login-teste.css"/>
    <link rel="stylesheet" href="../../../public/css/fonts.css" />
  </head>
  <body>
    <div id="main">
      <div id="login">
        <form action="/pagina-dos-dados" method="post" id="formulario">
          <div id="titulo">
            <label for="titulo">LOGIN</label>
          </div>
          <div class="campos">
            <div class="input">
              <label for="email">Email:</label>
              <input placeholder="Email" type="email" id="email" required/>
            </div>
            <div class="input">
              <label for="senha">Senha:</label>
              <input placeholder="Senha" type="password" id="senha" required/>
            </div>
          </div>
          <div class="botao">
            <button type="submit" id="botao">Login</button>
          </div>
        </form>
      </div>
      <div class="logo">
        <img
          src="../../../public/assets/Logo 1 sem fundo.png"
          alt="Logo do CartoonVerse"
          id="logo"
        />
      </div>
    </div>
  </body>
</html>
