<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/navbar_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Navbar</title>
</head>

<body>
    <div class="off-screen-hamb-menu">
        <ul>
            <li>
                <div id="home"></div> <a href="#">Home</a>
            </li>
            <li>
                <div id="posts"></div> <a href="#">Posts</a>
            </li>
            <li>
                <div id="login"></div> <a href="#">Login</a>
            </li>
        </ul>
    </div>

    <nav class="navbar">
        <div class="hamb-menu" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- Desktop version -> media rule -->
        <div class="left-side-desktop">
            <a href="#" id="home">
                <div></div>
            </a>
            <a href="#" id="posts">Posts</a>
        </div>
        
        <a class='logo-link' href="#">
            <div class="logo"></div>
        </a>
        <a class='phone-right-side' href="#">
            <div id="search"></div>
        </a>
        <!-- Desktop version -> media rule -->
        <div class="right-side-desktop">
            <a href="#">
                <div id="search"></div>
            </a>
            <a href="#">
                <div id="profile"></div>
            </a>
        </div>
    </nav>
    <script src="../../../public/js/navbar.js"></script>
</body>
</html>