<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/navbar_style.css">
    <title>Navbar</title>
</head>

<body>

    <nav class="navbar">
        <div class="hamb-menu">
            <svg >
                <path d="M0 0H28V4.66667H0V0ZM0 11.6667H28V16.3333H0V11.6667ZM0 23.3333H28V28H0V23.3333Z" fill="black"/>
            </svg>
        </div>
        <!-- Desktop version -> media rule -->
        <div class="left-side-desktop">
            <a href="#" id="home">
                <div></div>
            </a>
            <a href="#" id="posts">Posts</a>
        </div>
        
        <a class='logo-link' href="#">
            <div class="logo"></div>
        </a>
        <a class='phone-right-side' href="#">
            <div id="search"></div>
        </a>
        <!-- Desktop version -> media rule -->
        <div class="right-side-desktop">
            <a href="#">
                <div id="search"></div>
            </a>
            <a href="#">
                <div id="profile"></div>
            </a>
        </div>
    </nav>

</body>
</html>