<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CartoonVerse</title>
    <link rel="stylesheet" href="/public/css/post-unico.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/public/css/fonts.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,1
00..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

    <body>
        <div class ="principal">
            <div class="title">
                <h1>
                    Qual a relação entre Gumball e Homer Simpson
                </h1>
            </div>

            
            <div class="conteudo">
                <div class="autor">
                    <img src="/public/assets/img/icone_pessoa.png" alt="Icone do perfil">
                    <p nome-autor>Fábio - </p>
                    <p class="data">24/10/2024</p>
                </div>
                <div class="texto">
                    <p>Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Sed do eiusmod tempor
                        incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore 
                        eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in 
                        culpa qui officia deserunt mollit anim id 
                        est laborum.
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Sed do eiusmod tempor
                        incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore 
                        eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in 
                        culpa qui officia deserunt mollit anim id 
                        est laborum.Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Sed do eiusmod tempor
                        incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit 
                        in voluptate velit esse cillum dolore 
                        eu fugiat nulla pariatur. Excepteur sint 
                        occaecat cupidatat non proident, sunt in 
                        culpa qui officia deserunt mollit anim id 
                        est laborum.
                    </p>
                </div>  
                <div class="imagem_principal">
                    <img src="/public/assets/img/gumball.jpg" alt="Imagem da publicação">
                </div>
            </div> 
        </div>  
    </body>
</html>