<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CartoonVerse</title>
    <link rel="stylesheet" href="../../../public/css/post-unico.css">
</head>

    <body>
        <div class ="principal">
            <div class="fundo_title">
                <h1>
                    <!-- HEROIS CARICATOS EM AVENTURA ANIMADA -->
                    titulo aqui ?
                </h1>
            </div>

            <div class="imagem_principal">
                <img src="../../../public/assets/img/download (2).jpeg" alt="Imagem da publicação">
            </div>

            <div class="conteudo">
                <div class="descricao">
                    <!-- <h2>Qual é a relação entre Gumball e Homer Simpson?</h2> -->
                     <h2>ou aqui?</h2>
                </div>
                <div class="autor">
                    <img src="../../../public/assets/img/icone_pessoa.png" alt="Icone do perfil">
                    <p class="data">dd/mm/YYYY</p>
                </div>
                <div class="texto">
                    <p>Uma imagem de um desenho clássico da Cartoon Network apresenta um cenário vibrante, 
                        cheio de cores e formas caricatas. Personagens icônicos com traços exagerados e expressões expressivas ocupam o centro da cena, 
                        cada um com um estilo visual único que define sua personalidade. O fundo costuma ser simples, mas estilizado, com paisagens surreais 
                        ou ambientes urbanos repletos de detalhes humorísticos. O uso de cores primárias intensas 
                        e linhas marcantes dá ao desenho uma energia dinâmica e divertida, que imediatamente transporta o espectador para 
                        um mundo cheio de aventuras e humor, típico dos desenhos do canal.
                    </p>
                </div>  
            </div> 
        </div>  
    </body>
</html>