<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/post_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,1
00..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Cartoonverse</title>
</head>
<body>
    <div class="general-container">
        <div class="search-bar">
            <a href="#">
                <p>PESQUISAR</p>
                <img src="../../../public/assets/Search.png" alt="Search bar">
            </a>
        </div>
        <div class="posts-div">
            <ul id="list">
                <li>
                    <a href="#"> 
                        <div id="post">
                            <p>Título do Post</p>
                            <img src="../../../gumball.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div id="post">
                            <p>Título do Post</p>
                            <img src="../../../gumball.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div id="post">
                            <p>Título do Post</p>
                            <img src="../../../gumball.jpg" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div id="post">
                            <p>Título do Post</p>
                            <img src="../../../gumball.jpg" alt="">
                        </div>
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="div-botao-mais">
            <p>MAIS</p>
        </div>
    </div>
</body>
</html>