<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/post_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/public/css/fonts.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,1
00..900;1,14..32,100..900&display=swap" rel="stylesheet">
<title>CartoonVerse</title>
</head>
<body>
    <div class="general-container">
        <div class="search-bar">
            <a href="#">
                <p>PESQUISAR</p>
                <img src="/public/assets/Search.png" alt="Search bar">
            </a>
        </div>
        <div class="posts-div">
            <ul id="list">
            </ul>
        </div>
        <div class="div-botao-pagina">
            <div class="first">&#171;</div>
            <div class="prev">&lt;</div>
            <div class="numero">
                <div>1</div>
            </div>
            <div class="prox">&gt;</div>
            <div class="last">&#187;</div>
        </div>
    </div>
    <script src="/public/js/post-list-pags.js"></script>
</body>
</html>