<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Posts Unicos</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="fundo_title">
        <h3>
            HEROIS CARICATOS EM AVENTURA ANIMADA
        </h3>
    </div>

    <div class="imagem_perfil">
            <img src="img/download (2).jpeg" alt="imagem de texte">
    </div>

    <div class="perfil">
        <img src="img/icone_pessoa.png" alt="Incone do perfil">
        <h2>Desenvolvido por Fulano no dia xx/xx/xxx</h2>
        <p>Uma imagem de um desenho clássico da Cartoon Network apresenta um cenário vibrante, 
            cheio de cores e formas caricatas. Personagens icônicos com traços exagerados e expressões expressivas ocupam o centro da cena, 
            cada um com um estilo visual único que define sua personalidade. O fundo costuma ser simples, mas estilizado, com paisagens surreais 
            ou ambientes urbanos repletos de detalhes humorísticos. O uso de cores primárias intensas 
            e linhas marcantes dá ao desenho uma energia dinâmica e divertida, que imediatamente transporta o espectador para 
            um mundo cheio de aventuras e humor, típico dos desenhos do canal.
        </p>

    </div>

</body>
    
</body>

</html>